@import "tailwindcss";

/*
@import "pixel-retroui/dist/index.css";
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: beige;
  font-family: 'Pixels';
}


@font-face {
  font-family: 'Pixels';
  src: url('/fonts/boldpixels/BoldPixels.ttf');
  font-weight: normal;
  font-style: normal;
}

.pixelsDiv {
  font-family: 'Pixels';
}

/* MainDashboard */
@layer components {


  .gradText {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-yellow-400;
  }

  .gradText_2 {
    @apply text-transparent bg-clip-text font-bold bg-gradient-to-r from-orange-500 to-amber-900;
  }

  .gradDiv {
    @apply flex rounded-xl p-8 px-15 m-6 bg-amber-900/20
  }

  .gradDivHalf {
    @apply rounded-xl p-8 px-15 m-6 h-[30rem] text-2xl bg-black overflow-y-auto
  }

  .disBtn_Parent {
    @apply flex mr-4 text-transparent p-1 px-1 rounded-full bg-gradient-to-r from-orange-400 to-amber-950/80
  }

  .disBtn_Child {
    @apply p-4 w-90 rounded-full text-2xl font-bold text-center bg-black
  }

  .disBtn_Text {
    @apply text-transparent bg-clip-text font-bold bg-gradient-to-r from-orange-500 to-yellow-400
  }

  .disBtn_2_Parent {
    @apply flex mr-4 p-1 px-1 rounded-full text-transparent bg-gradient-to-r from-orange-800/80 to-yellow-600
  }

  .disBtn_2_Child {
    @apply p-3 w-83 rounded-full text-2xl text-center font-semibold bg-black
  }
}

/* Topbar */
@layer components {

  .topbar {
    @apply flex sticky bottom-0 bg-clip-border shadow-lg items-center
  }
}

/* Sidebar */
@layer components {

  .pixel-button {


    background-color: rgba(20, 19, 20, 0.783);
    color: #fea239;
    border: 2px solid #df7716;
    padding: 10px 20px;
    font-size: 8px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 5px 5px 1px #452525;
    /* Pixelated shadow */
    transition: all 0.1s ease;
  }

  .pixel-button:hover {
    background-color: #3e1313;
    color: #fff;
    box-shadow: 2px 2px 0px #000;
    transform: translate(2px, 2px);
    /* Simulate button press */
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}




/* Raycast borders */
.animated-border {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 0;
  height: 100%;
  background: conic-gradient(transparent 50deg,
      #ff4874 80deg,
      transparent 100deg);
  filter: blur(8px);
  border-radius: 16px;
  transform-origin: center;
  animation: border-animation -0.64s linear 4s infinite;
  will-change: transform;
}

.wrapper {
  margin-top: 32px;
  padding: 4px;
  position: relative;
  margin-top: 128px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(22, 4, 8, 0.5), rgba(22, 4, 8, 0.5)),
    linear-gradient(100.41deg, #ff5b37 0.52%, #ab0052 100.52%);
  border-radius: 16px;
  box-shadow: 0 0 27px rgba(173, 40, 40, 0.48);

  display: block;
  margin: auto;
}

.content {
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, rgba(22, 4, 8, 0.96), rgba(22, 4, 8, 0.96)),
    linear-gradient(100.41deg, #ff5b37 0.52%, #ab0052 100.52%);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 12px;
  padding: 40px;
  height: 139px;
}

@keyframes border-animation {
  0% {
    transform: translateY(-25%) translateX(40%) rotate(0deg);
  }

  30% {
    transform: translateY(0) translateX(0) rotate(90deg) scaleX(0.7);
  }

  50% {
    transform: translateY(-25%) translateX(-40%) rotate(180deg);
  }

  70% {
    transform: translateY(0) translateX(0) rotate(270deg) scaleX(0.7);
  }

  to {
    transform: translateY(-25%) translateX(40%) rotate(1turn);
  }
}


/* Glitch */

[glitch] {
  display: inline-block;
  position: relative;
}

[glitch]:after {
  --slice-0: inset(50% 0 50% 0%);
  --slice-1: inset(0 0 50% 0);
  --slice-2: inset(0 0 0 0);
  --slice-3: inset(50% 0 0 0);
  content: attr(glitch);
  /*     change to whatever color, default green */
  color: #34b54a;
  visibility: visible;
  position: absolute;
  display: block;
  /*     how big the text needs to scale compared to its original size */
  transform: scale(1.25);
  -webkit-clip-path: var(--slice-0);
  clip-path: var(--slice-0);
  top: 0;
  animation: glitchback 0.1s reverse;
  animation-timing-function: step-end;
}

[glitch]:hover {
  visibility: hidden;
  transition: visibility 0.1s;
}

[glitch]:hover:after {
  --slice-2: inset(0% 0% 0 0);
  -webkit-clip-path: var(--slice-2);
  clip-path: var(--slice-2);
  animation: glitch 0.1s;
  animation-timing-function: step-end;
}

@keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-0);
    clip-path: var(--slice-0);
  }

  10% {
    -webkit-clip-path: var(--slice-1);
    clip-path: var(--slice-1);
  }

  to {
    -webkit-clip-path: var(--slice-2);
    clip-path: var(--slice-2);
  }
}

@keyframes glitchback {
  0% {
    -webkit-clip-path: var(--slice-0);
    clip-path: var(--slice-0);
  }

  10% {
    -webkit-clip-path: var(--slice-3);
    clip-path: var(--slice-3);
  }

  to {
    -webkit-clip-path: var(--slice-2);
    clip-path: var(--slice-2);
  }
}

/* ignore, just centering the text */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: PexicoMicro-Regular, sans-serif;
}

h1 {
  text-align: center;
}

/* font goes hard */
@font-face {
  font-family: "PexicoMicro-Regular";
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot");
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.svg#PexicoMicro-Regular") format("svg");
}